.dialogs {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.chatMain{
    display: flex;
}
.dialogs_items {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.dialog {
    width: 60%;
}

.dialogs_items .active {
    color: #ff747c;
}

.messages {

}

.message {

}
